/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/football-pitch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.quiz-container {
            background: #000;
            border-radius: 12px;
            width: 90%;
            max-width: 600px;
            padding: 20px;
            text-align: center;
            box-sizing: border-box;
            color: #fff;
           }
