/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/football-pitch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: top-center; 
    align-items: center;     
    
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
}

.quiz-container {
            background: #000000;
            border-radius: 12px;
            width: 90%;
            max-width: 700px;
            padding: 20px;
            text-align: center;
            box-sizing: border-box;
            color: #fff;
           }

#question {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}



.answer-button {
    margin: 10px;
    max-width: fit-content;
    text-align: center;
    background-color: white;
    color: #000000;
    font-size: 1.5rem;
}

#submit {
    margin: 10px;
    width : 20%;
    text-align: center;
    background-color: rgb(155, 188, 90);
    color: #000000;
    font-size: 1.25rem;
}

#submit:hover {
    background-color: rgb(9, 118, 18);
}
