

/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/football-pitch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;     
    
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
}

.quiz-container {
            background: #000000;
            border-radius: 12px;
            width: 90%;
            max-width: 700px;
            padding: 20px;
            text-align: center;
            box-sizing: border-box;
            color: #fff;
           }

#question {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}



.answer-button {
    margin: 10px;
    max-width: fit-content;
    text-align: center;
    background-color: white;
    color: #000000;
    font-size: 1.5rem;
}

.selected {
    background-color: #4caf50;
    color: white;
}

.answer-button:hover {
    background-color: red;
}

.answer-button:not(.selected):hover {
    background-color: red;
}


#submit {
    margin: 10px;
    max-width: fit-content;
    text-align: center;
    background-color: rgb(155, 188, 90);
    color: #000000;
    font-size: 1.25rem;
}

#submit:hover {
    background-color: rgb(9, 118, 18);
}

#score-display {
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

/*Final screen and reset button*/
.final-screen {
    background: #000000;
    border-radius: 12px;
    width: 90%;
    max-width: 700px;
    padding: 40px 20px;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    margin-top: 20px;
}

.final-screen h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin: 0 0 10px 0;
}

.final-screen p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.final-score-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 30px 0;
    color: rgb(155, 188, 90);
}

.reset-button-display {
    margin: 10px;
    max-width: fit-content;
    text-align: center;
    background-color: rgb(155, 188, 90);
    color: #000000;
    font-size: 1.25rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-button-display:hover {
    background-color: rgb(9, 118, 18);
}

/*Media Queries*/

/*Media Queries for all size mobiles*/

@media screen and (max-width:425px) {
    
    h1 {
        text-align: center;
        justify-content: center;
        
    }

}

